body {
    padding: 64px;
}

.box {
    width: 100px;
    height: 100px;
    background: orange;

    transition-property: transform;
    transition-duration: .3s;
    transition-timing-function: cubic-bezier(0.39, 0.35, 0.64, 1.77);
    /* transition-delay: 1s; */
}

.box:hover {
    transform: translateX(30px);
    /* background: skyblue; */
}  